/node_modules
/public/hot
/storage
.env
.eslintrc.js
.local.env
.env.backup
/.vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/logs/laravel.log
/public/api-rendered-markdowns/*
/public/api/
/public/uploads/
/laradock*/
_ide_helper*.php
.phpstorm.meta.php
/.vagrant
/.idea
/.vscode
._*
/resources/lang/
/vendor
