.admin-page {
    height: 100%;
    background: #f0f2f5;
    .admin-page-layout {
        width: 100%;
        height: 100%;
        background-color: #edf1f6;
    }
    header {
        background: #fff;
        box-shadow: 0 2px 8px #f0f1f2;
        height: 60px;
        line-height: 64px;
        left: 0;
        padding: 0 24px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        .logo {
            img {
                cursor: pointer;
                height: 38px;
                width: 136px;
            }
        }
    }
    .admin-header-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-right {
            display: flex;
            align-items: center;
            line-height: 1.2;
        }
        .header-noti {
            display: flex;
            margin-right: 40px;
            position : relative;
            .header-noti-icon {
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
            .count {
                position: absolute;
                background-color: #02c8c6;
                box-shadow: 0 0 0 1px #fff;
                color: #fff;
                font-size: 12px;
                font-weight: 400;
                border-radius: 50%;
                height: 20px;
                line-height: 20px;
                text-align: center;
                white-space: nowrap;
                min-width: 20px;
                padding: 0 6px;
                right: 0;
                top: 0;
                transform: translate(50%,-50%);
                transform-origin: 100% 0;
            }
        }
        .header-download {
            display: flex;
            margin-right: 40px;
            position : relative;
            .header-download-icon {
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .header-currency  {
            display: flex;
            align-items: center;
            margin-right: 40px;
            position : relative;
            .header-currency-icon {
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .admin-main-layout {
        height: 100vh;
        margin-left: 240px;
        overflow: auto;
        padding-top: 60px;
    }
    .admin-main-container {
        margin: 20px auto;
        width: 1000px;
    }
}
.admin-card {
    margin-top: 20px;
    border-radius: 6px;
    color: #00112f;
    border: 1px solid #e6edf5;
    background: #fff;
    border-radius: 4px;
    color: #415066;
    font-size: 14px;
    line-height: 1.5715;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    .admin-card-body {
        padding: 24px;
        .title {
            font-weight: 600;
            line-height: 26px;
        }
        .content-nd {
            line-height: 20px;
            padding: 10px 0;
        }
    }
}
.sidebar {
    width: 240px;
    background: #fff;
    height: calc(100% - 60px);
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 60px;
    .sidebar-layout {
        height: 100%;
        margin-top: -0.1px;
        padding-top: 0.1px;
    }
    .sidebar-menu {
        width: 100%;
        border-right: 1px solid #e6edf5;
        transition: background .3s,width .3s cubic-bezier(.2,0,0,1) 0s;
        line-height: 0;
        list-style: none;
        margin: 0;
        outline: none;
        padding: 0;
        text-align: left;
        color: #415066;
        font-size: 14px;
        background: #fff;
        position: relative;
        & > .sidebar-menu-item {
            height: 40px;
            line-height: 40px;
            margin-bottom: 8px;
        }
        .sidebar-menu-item {
            padding: 0!important;
            position: relative;
            width: 100%;
            display: flex;
            transition: border-color .3s,background .3s,padding .1s cubic-bezier(.215,.61,.355,1);
           
            &.active , 
            &:hover { 
                background-color: #f7ffff!important;
                .sidebar-svg , 
                a {
                    color: #15bbb9!important ; 
                }
               
            }
            &.active {
                .sidebar-menu-icon {
                    opacity: 1;
                    visibility: visible ; 
                }
            }
        }
        .sidebar-menu-title-content {
            cursor: pointer;
            -webkit-box-flex: 1;
            -webkit-flex: auto;
            flex: auto;
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            align-items: center;
        }
        .sidebar-menu-icon {
            line-height: 1;
            height: auto;
            position: absolute;
            top: 10px;
            font-size: 14px;
            min-width: 14px;
            transition: border-color .3s,background .3s,padding .1s cubic-bezier(.215,.61,.355,1);
            opacity: 0;
            visibility: hidden;
        }
        .submenu-item {
            display: flex;
            align-items: center;
            margin-left: 10px;
            opacity: 1;
            transition: opacity .3s cubic-bezier(.645,.045,.355,1),margin .3s,color .3s;
            a {
                color: #00112f;
                font-weight: 500;
                transition : color .2s ; 
            }
        }
        .sidebar-svg {
            fill: currentColor;
            display: inline-block;
            font-size: 1.5rem;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            flex-shrink: 0;
            user-select: none;
            width: 18px;
            height: 18px;
            margin-left: 20px;
            margin-right: 12px;
            font-size: 18px;
           
        }

    }
    &::-webkit-scrollbar {
        height: 6px;
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #cedceb;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::selection {
        background: #02c8c6;
        color: #fff;
    }
}